*{
	margin: 0;
	padding: 0;
	/*border: 1px solid;*/
}

.messages {
	color: red;
}

.alert-bar {
	font-family: "Times New Roman", sans-serif;
	text-align: center;
	background: yellow;
}

.content-box {
	width: 80%;
	margin: auto;
}

.header {
	width: 100%;
}

.header-img {
	width: 100%;
}

.header-bar {
	background: #66c2ff;
	text-align: left;
	padding: 5px 0px;
}

.header-text {
	font-family: "Helvetica", "Arial", sans-serif;
	color: rgba(255, 255, 255, 80%);
	color: rgba(255, 255, 255, 0.8);
}

.upload-header, .analysis-header, .contact-header {
	width: 100%;
	font-family: "Georgia", serif;
	font-size: 1.2em;
	color: #66c2ff;
	border-bottom: 2px solid;
	margin-top: 50px;
	cursor: pointer;
}

.upload-body, .analysis-body {
	margin-top: 20px;
}

.analysis-body, .contact-body {
	display: none;
}

.upload-filename {
	font-family: "Georgia", serif;
	font-weight: bold;
	font-size: 1.5em;
}

.waveform-img {
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

.scale-header {
	font-family: "Georgia", serif;
	text-align: center;
	padding: 10px 0px;
}

.scale-label-start {
	font-family: "Georgia", serif;
	display: inline-block;
	text-align: right;
	width: 10%;
}

.scale-label-end {
	font-family: "Georgia", serif;
	display: inline-block;
	width: 10%;
}

.scale-body {
	display: inline;
	margin-left: 20px;
}

.ratio-label {
	font-family: "Georgia", serif;
	font-style: italic;
	margin-left: 150px;
}

.genre-label {
	display: inline-block;
}

.genre-text {
	display: inline-block;
	font-weight: bold;
}

.contact-text {
	font-family: "Times New Roman", sans-serif;
	font-size: 1em;
	line-height: 150%;
}

table {
	width: 100%;
	margin-top: 15px;
}

th {
	width: 20%;
}

/*
Customize the range elements
*/

.score-range {
	width: 50%;
	-webkit-appearance: none;
	-moz-appearance: none;

	background: rgb(135,206,250); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(135,206,250) 0%, rgb(255,99,71) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(135,206,250) 0%,rgb(255,99,71) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(135,206,250) 0%,rgb(255,99,71) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cefa', endColorstr='#ff6347',GradientType=1 ); /* IE6-9 */
}


.score-range::-webkit-slider-thumb {
	background: black;
	border-radius: 0;
	height: 100%;
	width: 5px;
}

.score-range::-moz-range-thumb {
	-moz-appearance: none;
	background: black;
	border-radius: 0;
	height: 100%;
	width: 5px;
}

.score-range::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background: transparent;
}

.score-range::-moz-range-track {
	-moz-appearance: none;
	background: transparent;
}
